@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: #141519;
}
.card{
    background: rgb(34,41,51);
background: linear-gradient(180deg, rgba(34,41,51,1) 0%, rgba(23,30,40,1) 100%);
    margin: auto;
    width: 320px;
    border-radius: 20px;
    padding: 25px;
    font-family: "Overpass";
    color: #ffffff;
    margin-top: 25vh;
}
.icon{
    background-color: #242f3b;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.icon img{
    height: auto;
    width: 15px;
}
.title{
    font-size: 26px;
}
.card p{
    width: 320px;
    color: #969ca8;
    font-size: 14px;
}
.rate{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
}
.numbers{
    width: 45px;
    height: 45px;
    background-color: #262f38;
    border: none;
    border-radius: 50%;
    color: #9aa2ab;
    font-family: "overpass";
}
.submit{
    border-radius: 20px; 
    width: 100%;
    height: 40px;
    border: none;
    background-color: #fc7613;
    font-family: "overpass";
    font-weight: 700;
    margin-top: 30px;
}
.numbers:hover{
    background-color: #ffffff;
    color: #23262a;
}
.numbers:active{
    background-color: #fc7613;
    color: #23262a;
}
.submit:hover{
    background-color: #ffffff;
    color: #23262a;
}
.card2{
    background: rgb(34,41,51);
    background: linear-gradient(180deg, rgba(34,41,51,1) 0%, rgba(23,30,40,1) 100%);
        margin: auto;
        width: 320px;
        border-radius: 20px;
        padding: 25px;
        font-family: "Overpass";
        color: #ffffff;
        margin-top: 25vh;
        text-align: center;
        align-items: center;
        display: none;
}
.selected{
    background-color: #282e36;
    color: #fb780d;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
    margin: auto;
    margin-top: 20px;
}
.card2 p{
    font-size: 30px;
    margin-bottom: 10px;
}
.card2 span{
    color: #8a919a;
    font-size: 14px;
}
.selected span{
    color: #fb780d;
}